<input type="text" />Incluir Disciplina

<table>
  <tr>
    <th>Selecione</th>

    <th>Opções</th>
  </tr>
</table>

<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Dia da semana</th>
    <th>Horário</th>
  </tr>
  <tr>
    <td><a [routerLink]="['/roxellydetalhescomponent']"> ISW012</a></td>
    <td>Flutter</td>
    <td>Segunda-Feira</td>
    <td>19h00 | 22h30</td>
  </tr>
  <tr>
    <td><a [routerLink]="['/roxellydetalhescomponent']"> ITE004 </a></td>
    <td>Angular</td>
    <td>Sexta-Feira</td>
    <td>19h00 | 22h30</td>
  </tr>
</table>
