<input type="text" [(ngModel)]="tarefa" />
<button (click)="addTarefa()">Incluir</button>
<ul>
  <li *ngFor="let item of items">
    {{ item }}
    <button (click)="remover(item)">Remover</button>
  </li>
</ul>

<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Dia da semana</th>
    <th>Horário</th>
  </tr>
  <tr>
    <td><a [routerLink]="['/roxellydetalhescomponent']"> ISW012</a></td>
    <td>Flutter</td>
    <td>Segunda-Feira</td>
    <td>19h00 | 22h30</td>
  </tr>
  <tr>
    <td><a [routerLink]="['/roxellydetalhescomponent']"> ITE004 </a></td>
    <td>Angular</td>
    <td>Sexta-Feira</td>
    <td>19h00 | 22h30</td>
  </tr>
</table>
